<!DOCTYPE html>
<html>
<head>
	<title>编辑题目</title>
	<meta charset="utf-8">
	<style>
		.mt{
			margin-top: 10px;
		}

		.tool-bar{
			margin:10px 0;
		}

		.subject-item{
			border-bottom: 1px #ddd solid;
			padding:10px;
			background: #f5f5f5;
		}

		.subject-item .title *{
			vertical-align: top;
		}

		.subject-item label{
			width: 90px;
		}

		.subject-item textarea{
			width:300px;
			height: 100px;
		}

		.subject-item input{
			width: 300px;
		}

		.option-list input{
			margin-top: 10px;
		}

		.option-list-item label{
			margin-right: 5px;
		}
	</style>
</head>
<body>

	<div>
		<select id="period">
			<option></option>
			<option>创建新一期</option>
		</select>
		<span id="current_period"></span>
	</div>
	<div class="tool-bar">
		添加: <button id="select">选择题</button> <button id="answer">问答题</button>
	</div>
	<div class="subject-list">
		
	</div>
	<button id="submit" class="mt">提交</button>

	<script type="text/html" id="static-opt">
		<div class="subject-item">
			<div class="title">
				<label>标题: </label>
				<textarea></textarea>
			</div>
			<button class="add-option mt">添加选项</button>
			<div class="option-list">
				
			</div>
			<div class="answer-item mt">
				<label>答案: </label>
				<input type="text" name="answer">
			</div>
		</div>
	</script>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/template.js') }}"></script>

	<script>	
		$(function(){

			$("#select").on("click",function(){
				subject.add();
			});	

			var subject = {

				wrap : $(".subject-list"),

				optIndex : 0,

				add : function(){
					var html = template("static-opt",{});
					this.wrap[0].insertAdjacentHTML("beforeend",html);
					
					var last = $(".add-option:last");
					var option = new Option();

					last.click(function(){
						subject.addOption(this,option);
					})					
				},

				addOption : function(element,option){
					var item = option.create();
					$(element).next().append(item);
				}

			}

			//global

			var ABC = "ABCDEFGHIJK";

			// 选项构造函数

			function Option(){
				this.index = 0;
			}

			Option.prototype.create = function(){
				var div = document.createElement("div");
				var input = document.createElement("input");
				var label = document.createElement("label");
				var current = ABC.charAt(this.index++);

				div.className = "option-list-item";
				label.innerHTML = current + ":";

				div.appendChild(label);
				div.appendChild(input);
		
				return div;
			}

		})
	</script>
	

</body>
</html>