<!DOCTYPE html>
<html>
<head>
	<title>编辑题目</title>
	<meta charset="utf-8">
	<style>
		.mt{
			margin-top: 10px;
		}

		.tool-bar{
			margin:10px 0;
		}

		.subject-item{
			border-bottom: 1px #ddd solid;
			padding:10px;
			background: #f5f5f5;
		}

		.subject-item .title *{
			vertical-align: top;
		}

		.subject-item label{
			width: 90px;
		}

		.subject-item textarea{
			width:300px;
			height: 100px;
		}

		.subject-item input{
			width: 300px;
		}
	</style>
</head>
<body>

	<div>
		<select id="period">
			<option></option>
			<option>创建新一期</option>
		</select>
	</div>
	<div class="tool-bar">
		添加: <button id="select">选择题</button> <button id="answer">问答题</button>
	</div>
	<div class="subject-list">
		
	</div>
	<button id="submit" class="mt">提交</button>

	<script type="text/html" id="static-opt">
		<div class="subject-item">
			<div class="title">
				<label>标题: </label>
				<textarea></textarea>
			</div>
			<button id="add-option" class="mt">添加选项</button>
			<div class="answer-item mt">
				<label>答案: </label>
				<input type="text" name="answer">
			</div>
		</div>
	</script>

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/template.js') }}"></script>

	<script>	
		$(function(){

			$("#select").on("click",function(){
				
				subject.add();
			});

			

			var subject = {

				wrap : $(".subject-list"),

				add : function(){
					var html = template("static-opt",{});
					this.wrap[0].insertAdjacentHTML("beforeend",html);
					
				},

				addOption : function(obj){

				}

			}

			function Option(){
				this.index = 1;
			}

		})
	</script>
	

</body>
</html>